{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<h2>Login</h2>

<form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}<br />
        {{ form.email(size=30) }}
    </div>
    <div>
        {{ form.password.label }}<br />
        {{ form.password(size=30) }}
    </div>
    <div>{{ form.submit(class='btn') }}</div>
</form>

<p>
    Don't have an account?
    <a href="{{ url_for('auth.register') }}">Register</a>
</p>
{% endblock %}
